<div class="row margin-top-50">
  <div *ngFor="let light of lightArray" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 center-xs center-sm center-md center-lg center-xl">
    <img src="{{light.image}}" height="120" width="120">
    <br>
    <button class="btn-custom green" (click)="Click(light._id, light.room, light.state)" >{{light.room}}</button>
  </div>
  <div style="border: 2px solid #1EEF29; border-radius: 10px; height: 190px; width: 400px; margin: 0 auto; margin-top: 30px;">
    <h1>&nbsp;Detected movements: {{detectedMovementCount}}</h1>
  </div>
</div>
<div class="row margin-top-50">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center-xs center-sm center-md center-lg center-xl">
      <img src="/assets/img/logo.svg" height="120" width="120">
      <br>
      <h1 style="font-family: 'Do Hyeon'; color: #333333; margin-top:-07px">DomoticHome</h1>
      <h3 style="font-family: 'Do Hyeon'; color: #333333; margin-top:-07px">Computer Architecture Project</h3>
      <h4 style="font-family: 'Do Hyeon'; color: #333333; margin-top:-07px">Juan Batty - Daniel Castillo - Edilberto Toro</h4>
    </div>
  </div>